
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 240 10% 3.9%;

    --primary: 252 59% 48%;
    --primary-foreground: 0 0% 98%;
    
    --radius: 0.75rem;
  }

  * {
    @apply border-border selection:bg-accent/20 selection:text-accent;
  }
  
  body {
    @apply bg-background text-foreground antialiased overflow-x-hidden;
    font-feature-settings: "ss01", "ss02", "cv01", "cv02", "cv03";
  }

  html {
    @apply scroll-smooth;
  }
}

@layer components {
  .dot {
    @apply w-3 h-3 rounded-full bg-foreground opacity-80;
  }
  
  .dot-container {
    @apply grid gap-2;
    grid-template-columns: repeat(auto-fit, minmax(12px, 12px));
  }
}
